* text=auto eol=lf
*.py text eol=lf
*.pyw text eol=lf
*.md text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.txt text eol=lf
*.html text eol=lf
*.ps1 text eol=lf
*.pptx binary
*.pdf binary
*.png binary
*.jpg binary
*.mp4 binary
